@use "./variables";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;

  &._lock {
    overflow: hidden;
  }

  header.header {
    padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;

    .header__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .header__logo {
        max-width: 200px;
      }

      .header__navigation {
        display: flex;
        align-items: center;
        gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);

        nav.header__menu {
          &.menu {
            ul.menu__body {
              display: flex;
              gap: 40px;

              .menu__item {
                .menu__link {
                  font-weight: 500;
                  color: var(--text-color);
                  transition: color 0.3s;
                  position: relative;

                  &::before {
                    content: "";
                    position: absolute;
                    bottom: -5%;
                    right: 0;
                    left: 0;
                    height: 3px;
                    background-color: var(--accent-color);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 0.5s;
                  }

                  // Так пишеться hover для всі пристроїв, типу коли нема курсору на мобільному ми змржемо бачити цей ефект
                  @media (any-hover: hover) {
                    &:hover {
                      color: var(--text-color-light);

                      &::before {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .header__buttons {
          display: flex;
          gap: 5px;

          .header__btn {
            font-weight: 500;
            color: var(--text-color);
            border: 1px solid var(--accent-color);
            padding: 11px 20px;
            background-color: var(--accent-color);
            transition: all 0.3s;
            cursor: pointer;
            font-size: 16px;

            &.login {
              background-color: transparent;

              @media (any-hover: hover) {
                &:hover {
                  background-color: var(--accent-color);
                }
              }
            }

            &.register {
              @media (any-hover: hover) {
                &:hover {
                  background-color: transparent;
                }
              }
            }
          }
        }

        .menu-icon {
          display: none;
        }
      }
    }
  }

  main.page {
    .hero {
      margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
      position: relative;

      .hero__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hero__content {
          flex: 0 0 calc(700px / 1420px * 100%);
          margin-bottom: 160px; // 100px висота фільтра + 60px його марджін топ

          .hero__title {
            color: var(--text-color-light);
            font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
            font-weight: 400;
            line-height: 1.26; // 126%
            text-transform: capitalize;
          }
          .hero__text {
            margin-top: 18px;
          }

          .hero__filter {
            margin-top: 60px;
            position: absolute;
            height: 100px;
            width: 880px;
            background-color: #fff;

            .filter__block {
              &.block-filter {
                position: relative;
                cursor: pointer;

                &:nth-child(2) {
                  border-right: 1px solid var(--border-color-light);
                  border-left: 1px solid var(--border-color-light);
                }

                .block-filter__button {
                  display: flex;
                  justify-content: center;
                  height: 100%;
                  flex-direction: column;
                  padding: 0 clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);

                  .block-filter__header {
                    display: flex;
                    align-items: center;

                    .block-filter__type {
                      color: var(--text-color-darker);
                      padding-right: 2px;
                    }

                    .block-filter__icon {
                      background: url("../img/icons/arrow.svg") center bottom
                        no-repeat;
                      width: 10px;
                      height: 7px;
                      transition: transform 0.3s;

                      &._active {
                        transform: rotate(180deg);
                      }
                    }
                  }

                  .block-filter__value {
                    color: var(--text-color-dark);
                    font-size: 18px;
                    line-height: 1.26; // 126%
                    font-weight: 600;
                  }
                }

                .block-filter__dropdown {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 100%;
                  z-index: 3;
                  background-color: var(--text-color-light);
                  overflow: hidden;
                  border-radius: 5px;
                  opacity: 0;
                  visibility: hidden;
                  pointer-events: none; // Щоб не можна було зачепити мишкою прихований елемент
                  box-shadow: 0 0 5px 2px #000;
                  transition: all 0.3s;

                  &._active {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all; // Тепер цей елемент може взаємодіяти із мишею
                    transform: translateY(5px);
                  }

                  .block-filter__item {
                    padding: 8px;
                    color: var(--text-color-dark);
                    font-size: 18px;
                    line-height: 1.26; // 126%
                    font-weight: 600;
                    transition: background-color 0.3s;
                    cursor: pointer;

                    @media (any-hover: hover) {
                      &:hover {
                        background-color: var(--text-color);
                      }
                    }
                  }
                }
              }
            }

            .filter__btn {
              padding: 5px;

              button {
                background-color: var(--accent-color);
                width: 100%;
                height: 100%;
                border: none;
                cursor: pointer;
                color: var(--text-color-light);
                font-size: 24px;
                font-weight: 500;

                &:active {
                  //:active  -- спрацьовує при натисканні, коли відпускаєш мишку то перестає працювати
                  background-color: teal;
                }
              }
            }
          }
        }

        .hero__img {
          flex: 0 0 calc(700px / 1420px * 100%);
        }
      }
      .hero__deco {
        position: absolute;
        bottom: -240px;
        right: 0;
        z-index: -1;
      }
    }

    section.featured {
      margin-top: clamp(6.25rem, 4.614rem + 8.18vw, 11.875rem);

      .featured__container {
        .featured__title {
        }

        .featured__box {
          margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 30px;
          overflow: auto;

          .featured__item {
            flex: 0 0 auto; // забороняю змінюватися розміру кртинок, вони будуть такого розміру, якого я їх скачав

            img.featured__img {
            }
          }
        }
      }
    }

    section.popular {
      margin-top: clamp(3.75rem, 2.295rem + 7.27vw, 8.75rem);
      background: #1a242f url("../img/popular-slider/slider-bg.png") center
        center/cover no-repeat; // Те що наперед можна було поставити колір, то відкриття для мене, цей колір має бути десь біля маска в Rectangle

      .popular__container {
        padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 15px;

        .popular__title {
          margin-bottom: 40px;
        }

        .popular__slider {
          position: relative;

          .swiper.popular-slider {
            overflow: hidden;

            .swiper-wrapper {
              display: inline-flex; // то важно
              // gap: 20px;

              .swiper-slide.popular-slide {
                display: flex;
                flex-direction: column;
                gap: 27px;

                .popular-slide__thumb {
                  img {
                  }
                }
                .popular-slide__text {
                  .popular-slide__title {
                    color: var(--text-color-light);
                    font-size: 26px;
                    letter-spacing: 1%;
                    font-weight: 600;
                    line-height: 1.26;
                  }
                  .popular-slide__desc {
                  }
                }

                .popular-slide__labels {
                  display: flex;
                  gap: 20px;

                  .popular-slide__label {
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    img {
                    }
                  }
                }
              }
            }
          }

          .slider-buttons {
            position: absolute;
            top: 30%;
            // transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            width: 100%;

            .swiper-button-prev {
              position: absolute;
              left: -130px;
            }
            .swiper-button-next {
              position: absolute;
              transform: rotate(180deg);
              right: -130px;
            }
            .popular-slider-btn {
              cursor: pointer;
              width: 78px;
              height: 78px;
              border: 1px solid rgba(169, 173, 177, 0.8);
              border-radius: 50%;
              background: url("../img/popular-slider/arrow-slider.svg") left
                30px center no-repeat;
            }
          }
        }

        .popular__link {
          text-align: center;

          a {
            display: inline-block;
            margin-top: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);
            font-size: 24px;
            font-weight: 500;
            color: var(--text-color-light);
            padding: 22px 42px;
            background-color: var(--accent-color);
          }
        }
      }
    }
  }
}
