:root {
  --bg-color: #121b25;

  --accent-color: #1aa090;

  --text-color: #d6d6d6;
  --text-color-light: #ffffff;
  --text-color-darker: #858585;
  --text-color-dark: #121b25;

  --border-color-light: #e8e8e8;
}
