@use "./reset";
@use "./fonts";
@use "./home";
@use "./responsive";

[class*="__container"] {
  max-width: 1450px; // 1420px + 15px + 15px
  margin: 0 auto;
  padding: 0 15px;

  // position: relative; // обріже абсолюти котрі вилазять за межі екрану, але чомусь поламалося мобідьне меню
  // overflow: clip;
}

// Common Styles
.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7; // 170%
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
}

.title {
}
